{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p style="color:red">
        Исправь {{ form.errors }}
    </p>
{% endif %}

Введите новый пароль

<form action="" method="post">{% csrf_token %}    
    <div class="field">
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>
    <div class="field">
        {{ form.password2.label }}
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <input type="submit" value="Отправить">   
</form>


{% endblock %}