{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
Вы же уже авторизорваны как <b>{{ user.username }}</b> 
<a href="/accounts/logout/">выйти?</a><br/><br/>
{% else %}

<p>Для того чтобы войти на сайт зарегистрируйтесь, либо введите свой логин и пароль.</p>

{% if form.error %}
    <p class="error">Неверное имя или пароль</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
    <label for="username">Имя пользователя:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Проль:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="Вход" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>

<a href="/accounts/sendpassword/">Забыли пароль?</a> | <a href="/accounts/registration/">Регистрация</a>
{% endif %}
{% endblock %}